test/
coverage/

client/node_modules/
client/coverage/
client/dist/
client/.env
client/.env.development
client/.env.local
client/.env.*.local
client/bun.lock

server/node_modules/
server/coverage/
server/logs/
server/*.log
server/dist/
server/.env
server/.env.development
server/.env.local
server/.env.*.local
server/bun.lock

npm-debug.log
yarn-error.log

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
